main
{
    background-image: url("../images/cork-board.png");
    height: 100%;
    background-repeat: repeat;
    overflow: inherit;
    padding-bottom: 80px;
}

article
{
    margin: 20px;
}

#ContentBody
{
    background-image: none;
    background-color: #f1f1f1;
    width: 960px;
    height: 10%;
    border: 1px solid #444444;
    color: #444444;
    margin: 0 auto;
    top: 40px;
    position: relative;
    font-size: 22px;
    line-height: 125%;
}

.BodyImage
{
    float:left;
    margin: auto 10px auto 0;
    width: 200px;
    height: 220px;
    border-bottom: 3px ridge #444444;  
}